NodeRed/.flows.json.backup
[
    {
        "id": "5846e3c2ccecb372",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "aa690620becf8e98",
        "type": "tab",
        "label": "Flow finale",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc1840ab1afa1c14",
        "type": "subflow",
        "name": "Subflow 5",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 480,
                "wires": [
                    {
                        "id": "66c29a07e476f531"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "ecdbfc17d564f0f9",
        "type": "subflow",
        "name": "Subflow 4",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "5c8beba4cea5a92b"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "bdbd63df8caf99d2",
        "type": "subflow",
        "name": "Subflow 3",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "8a0098fefa8cf86e"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "8547bfc4137f9ac8",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "3a7c0d06a803fc0f"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "efe459214562ec75",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "190b386f5fc480fd",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "8108ea70fd8e04af",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "46b690b50ddc1816",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "f24cdce742152198",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ecff815d1b5bce0",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 11,
        "width": 20,
        "height": 1
    },
    {
        "id": "58848ff3eb02088d",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "993ea7f1b3aabc57",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "4e6e43f49f099f7d",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "5e1ce1f103460c1f",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "d00239f61a4e86a9",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "22f52c46f4713f46",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "6fab6929a4a83e2c",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 25,
        "width": 20,
        "height": 1
    },
    {
        "id": "b98db65b9ba1b464",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "3ef438db3faed4b8",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "161e74ceb2d40bc0",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "563113302c518a3a",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "65bca95c053d96a5",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "f3cb153352bc69cb",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "d94a5379993828f2",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 36,
        "width": 20,
        "height": 1
    },
    {
        "id": "35fd5b6f8f3df229",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "fcc7ef22199558d0",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "83b7496c9835d8c1",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "8cef4098a08113e4",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "6298b5f665aee2ce",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "cfc2c249ea5ca3ea",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "84dd150bc7656f32",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 47,
        "width": 20,
        "height": 1
    },
    {
        "id": "64fa45ff3d4bb90a",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "0e11d6f1e3ce0675",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 53,
        "width": 1,
        "height": 1
    },
    {
        "id": "0ac8dea3af390b3a",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "98f6b5ed78450778",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 55,
        "width": 1,
        "height": 1
    },
    {
        "id": "645ede7e33a0065a",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 56,
        "width": 1,
        "height": 1
    },
    {
        "id": "34d8c456053402ac",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "0a84ee79da93bdec",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 58,
        "width": 20,
        "height": 1
    },
    {
        "id": "8119c4fe9ab376d4",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "88b6cfe55d6a80e1",
        "order": 64,
        "width": 2,
        "height": 1
    },
    {
        "id": "66fe8c786326b1c3",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "a5c3b36b2214c8b3",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "78006df7817dda25",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b1c23eb62325332",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "17ede80bf57b7358",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "720fde0e66bd0eeb",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5f04a7102679d9f",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 11,
        "width": 20,
        "height": 1
    },
    {
        "id": "2121190dfb53a0ba",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "0979c4c484070ef5",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "65385a76e0361cf9",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "c87c352b5b3d180e",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f24a0078ec08832",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "e448c7a8251125fc",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "64cbcf53e18ac93f",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 25,
        "width": 20,
        "height": 1
    },
    {
        "id": "f3d8cecd31ea1bfe",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "59edd2fe402efa97",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "7827b4e7b4674c84",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "6816ad3580166467",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "d14c22370c7c0aa0",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "e4fbe7df0df4c2b6",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "3808744e4b6cf61e",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 36,
        "width": 20,
        "height": 1
    },
    {
        "id": "20cf00cf19e0e64e",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "49815b7c1016183f",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "cbe8bb2bdf90ae65",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "b07fab50f8ca8ecc",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "2c924537def02508",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "c8671534bd45a3b5",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "5e59d14376c283d3",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 47,
        "width": 20,
        "height": 1
    },
    {
        "id": "e1f8e1b3728e3a7f",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d411b96b7e3a05b",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 53,
        "width": 1,
        "height": 1
    },
    {
        "id": "c38f74f974c1c9a5",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "88e2ec9901c726be",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 55,
        "width": 1,
        "height": 1
    },
    {
        "id": "be055852cc271a89",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 56,
        "width": 1,
        "height": 1
    },
    {
        "id": "0eeede2f22e9ea6b",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "ba84d579c37b4d61",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 58,
        "width": 20,
        "height": 1
    },
    {
        "id": "0ee32cf8d48ecb31",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 77,
        "width": 1,
        "height": 1
    },
    {
        "id": "3e891b8ffbdf3ee7",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "ff5208b1059e9a51",
        "order": 81,
        "width": 4,
        "height": 1
    },
    {
        "id": "b91583f93c09d6d7",
        "type": "ui_group",
        "name": "Codagnone Giulia",
        "tab": "6d82dbc65c178888",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": true,
        "className": ""
    },
    {
        "id": "d533cbd24b566569",
        "type": "ui_group",
        "name": "Control",
        "tab": "6d82dbc65c178888",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "cd505154a09aae85",
        "type": "ui_group",
        "name": "Control",
        "tab": "b254aad3080828ea",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "b760305b1d9cfd99",
        "type": "ui_group",
        "name": "Cubeddu Laura",
        "tab": "6d82dbc65c178888",
        "order": 2,
        "disp": true,
        "width": 20,
        "collapse": true,
        "className": ""
    },
    {
        "id": "6a088443ce4c1d61",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8ee3e35698fe35b9",
        "type": "gauth",
        "name": "nodered-iotproject@smarthealth-iot.iam.gserviceaccount.com"
    },
    {
        "id": "ff5208b1059e9a51",
        "type": "ui_group",
        "name": "Patient2",
        "tab": "b254aad3080828ea",
        "order": 2,
        "disp": true,
        "width": 20,
        "collapse": true,
        "className": ""
    },
    {
        "id": "88b6cfe55d6a80e1",
        "type": "ui_group",
        "name": "Patient1",
        "tab": "b254aad3080828ea",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": true,
        "className": ""
    },
    {
        "id": "6d82dbc65c178888",
        "type": "ui_tab",
        "name": "Doctor1",
        "icon": "fa-user-md",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b254aad3080828ea",
        "type": "ui_tab",
        "name": "Doctor2",
        "icon": "fa-user-md",
        "disabled": true,
        "hidden": true
    },
    {
        "id": "a2e8cd3d9baca482",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d4b88e2bdf15ce5f",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "cad04585420c54e4",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "fc3be1bb6a978c2b",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "bc66471f62bf3e02",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "106c646da57da770",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "2c074aba87d4958e",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "69d758096e9f0659",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 12,
        "width": 20,
        "height": 1
    },
    {
        "id": "0cb5d7b6c81b7916",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "15f93e6719cc85d2",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "e5e45be7c0bfb145",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "673194cccb52e590",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "3771bbf2538de5c0",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "65d12f6c1b4ed207",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "c101be1017e5e947",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 26,
        "width": 20,
        "height": 1
    },
    {
        "id": "fe6064acc95e1d97",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "91d7dc80f1131fbe",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "ae8d581a7427ac32",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "6eb86d890b5b0f36",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "e828fbf187371aa8",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "af938ea6f82688fb",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "5ff582978ccbcd32",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 37,
        "width": 20,
        "height": 1
    },
    {
        "id": "2ec2d9c360784ce8",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "06240081e1bccc3c",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "9bb6da4cab71661d",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "52a979d0b2ecdb98",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "6f927c96f070a626",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f1c70d8d818d918",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "f38a9bb31dd1b113",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 48,
        "width": 20,
        "height": 1
    },
    {
        "id": "414eb25e334909a5",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 53,
        "width": 1,
        "height": 1
    },
    {
        "id": "2a8288e913fae5d7",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "bad027a1758b89ad",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 55,
        "width": 1,
        "height": 1
    },
    {
        "id": "44e379de59206a60",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 56,
        "width": 1,
        "height": 1
    },
    {
        "id": "678c0ade51a9cd07",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "5efc07d90153a39c",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 58,
        "width": 1,
        "height": 1
    },
    {
        "id": "a38f4541f0241ebb",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 59,
        "width": 20,
        "height": 1
    },
    {
        "id": "78a46483896ac26a",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 61,
        "width": 10,
        "height": 1
    },
    {
        "id": "2325a09ee7820475",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 62,
        "width": 10,
        "height": 1
    },
    {
        "id": "549f66a4c08bf90d",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 63,
        "width": 10,
        "height": 1
    },
    {
        "id": "d3637441d089b5dc",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 64,
        "width": 10,
        "height": 1
    },
    {
        "id": "7cbd75a04c352629",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b760305b1d9cfd99",
        "order": 65,
        "width": 10,
        "height": 1
    },
    {
        "id": "bad44ad8e37806bf",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "89ede1952c901703",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "af7969166f89cbbf",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "b4f120aa45f312ad",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "5819e2bb2aeeb9e5",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "7b8c310804914c6d",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "525ed5f1882fa321",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 12,
        "width": 20,
        "height": 1
    },
    {
        "id": "9a8c4eea6b53e5b4",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5675bcb3f1491a3",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "c09fe7579159a996",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "6589a9ded24f48b7",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "08c504a6b6a46abb",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "1b62649f0a0a56ee",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "00a40dc77f4a5313",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 26,
        "width": 20,
        "height": 1
    },
    {
        "id": "10b9e911f038a47c",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "e9e727669ee4d88c",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "2bd8edf59cf8691f",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "c722c211954d2b1e",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "2053c3df317022b5",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "b110f36ced4b1788",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "e14c33ad9d661f65",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 37,
        "width": 20,
        "height": 1
    },
    {
        "id": "85c4b495eb0d2127",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "8eb17d214999b64d",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "320ce97ad1fcd9eb",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "7f5ebf4cfb198aad",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "a0d2a4afeade80ba",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "72626f6503dd62e8",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "97d8e0eea3123e26",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 48,
        "width": 20,
        "height": 1
    },
    {
        "id": "756d51658580396f",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 53,
        "width": 1,
        "height": 1
    },
    {
        "id": "7b7897546f6a4880",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "c616ffc78c9fd2a0",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 55,
        "width": 1,
        "height": 1
    },
    {
        "id": "b2c1bf7108a521fd",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 56,
        "width": 1,
        "height": 1
    },
    {
        "id": "0c7f255b430f7dd3",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "92b428d03c96e0c5",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 58,
        "width": 1,
        "height": 1
    },
    {
        "id": "d9eddf770d1ea05f",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 59,
        "width": 20,
        "height": 1
    },
    {
        "id": "5a5c4fac6e2feb07",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 61,
        "width": 10,
        "height": 1
    },
    {
        "id": "1add53c52642c953",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 62,
        "width": 10,
        "height": 1
    },
    {
        "id": "467a32b655defbbf",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 63,
        "width": 10,
        "height": 1
    },
    {
        "id": "3e55dab063aecec8",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 64,
        "width": 10,
        "height": 1
    },
    {
        "id": "f1a138354b796497",
        "type": "ui_spacer",
        "z": "aa690620becf8e98",
        "name": "spacer",
        "group": "b91583f93c09d6d7",
        "order": 65,
        "width": 10,
        "height": 1
    },
    {
        "id": "d22e39133219bfd1",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "min_hr_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 18,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "HEARTRATE MIN",
        "label": "bpm",
        "format": "{{msg.e[0].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "657c65e1f7784b63",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "avg_hr_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 20,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "HEARTRATE AVG",
        "label": "bpm",
        "format": "{{msg.e[0].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "6897f3a81ff4048c",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "max_hr_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 22,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "HEARTRATE MAX",
        "label": "bpm",
        "format": "{{msg.e[0].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "e56a0d58b30f1232",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "min_prH_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 138,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH MIN",
        "label": "mmHg",
        "format": "{{msg.e[1].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "3cd19f2c9e1130bb",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "avg_prH_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 145,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH AVG",
        "label": "mmHg",
        "format": "{{msg.e[1].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "0ef6232dbba84976",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "max_prH_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 146,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH MAX",
        "label": "mmHg",
        "format": "{{msg.e[1].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "2a044295e10f5666",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "min_gl_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 198,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "GLYCEMIA MIN",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "c2dc8fba6eca65c9",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "avg_gl_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 153,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "GLYCEMIA AVG",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 460,
        "wires": []
    },
    {
        "id": "9b2f992672e7a58b",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "max_gl_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 154,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "GLYCEMIA MAX",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 500,
        "wires": []
    },
    {
        "id": "f8fa9b5a73f2f7b7",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "min_prL_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 172,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW MIN",
        "label": "mmHg",
        "format": "{{msg.e[3].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "669e0d07627f2316",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "avg_prL_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 173,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW AVG",
        "label": "mmHg",
        "format": "{{msg.e[3].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "dc4735558784b8cb",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "max_prL_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 180,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW MAX",
        "label": "mmHg",
        "format": "{{msg.e[3].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 620,
        "wires": []
    },
    {
        "id": "115a3a2453eb02eb",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "min_we_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 131,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "WEIGHT MIN",
        "label": "Kg",
        "format": "{{msg.e[4].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "555978a720b6f2e8",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "avg_we_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 181,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "WEIGHT AVG",
        "label": "Kg",
        "format": "{{msg.e[4].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 700,
        "wires": []
    },
    {
        "id": "824698335b50028f",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "max_we_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 188,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "WEIGHT MAX",
        "label": "Kg",
        "format": "{{msg.e[4].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 740,
        "wires": []
    },
    {
        "id": "1effb785cbbb67ef",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "min_te_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 189,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "TEMPERATURE MIN",
        "label": "C",
        "format": "{{msg.e[5].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 780,
        "wires": []
    },
    {
        "id": "6030ba8779c5dbb4",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "avg_te_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 217,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "TEMPERATURE AVG",
        "label": "C",
        "format": "{{msg.e[5].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 820,
        "wires": []
    },
    {
        "id": "461c0687a30d1a17",
        "type": "ui_gauge",
        "z": "cc1840ab1afa1c14",
        "name": "max_te_D2P2",
        "group": "ff5208b1059e9a51",
        "order": 224,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "TEMPERATURE MAX",
        "label": "C",
        "format": "{{msg.e[5].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "66c29a07e476f531",
        "type": "function",
        "z": "cc1840ab1afa1c14",
        "name": "function 2",
        "func": "\nreturn msg[\"measure\"]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 480,
        "wires": [
            [
                "d22e39133219bfd1",
                "657c65e1f7784b63",
                "6897f3a81ff4048c",
                "e56a0d58b30f1232",
                "3cd19f2c9e1130bb",
                "0ef6232dbba84976",
                "2a044295e10f5666",
                "c2dc8fba6eca65c9",
                "9b2f992672e7a58b",
                "f8fa9b5a73f2f7b7",
                "669e0d07627f2316",
                "115a3a2453eb02eb",
                "dc4735558784b8cb",
                "555978a720b6f2e8",
                "824698335b50028f",
                "1effb785cbbb67ef",
                "6030ba8779c5dbb4",
                "461c0687a30d1a17"
            ]
        ]
    },
    {
        "id": "9c25a4b8ca67c35b",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "min_hr_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 18,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "HEARTRATE MIN",
        "label": "bpm",
        "format": "{{msg.e[0].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "aae75b8b9c7ddf42",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "avg_hr_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 20,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "HEARTRATE AVG",
        "label": "bpm",
        "format": "{{msg.e[0].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "0526b464120ff28e",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "max_hr_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 22,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "HEARTRATE MAX",
        "label": "bpm",
        "format": "{{msg.e[0].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "02699b765a08bccb",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "min_prH_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 138,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH MIN",
        "label": "mmHg",
        "format": "{{msg.e[1].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "2d237664a0a25fd1",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "avg_prH_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 145,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH AVG",
        "label": "mmHg",
        "format": "{{msg.e[1].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "366cc83b733d78a6",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "max_prH_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 146,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH MAX",
        "label": "mmHg",
        "format": "{{msg.e[1].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "6335dad422469722",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "min_gl_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 198,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "GLYCEMIA MIN",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "92526a4be3742949",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "avg_gl_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 153,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "GLYCEMIA AVG",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 460,
        "wires": []
    },
    {
        "id": "eecee9ee35521ec6",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "max_gl_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 154,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "GLYCEMIA MAX",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 500,
        "wires": []
    },
    {
        "id": "d8a3aeba135b1ef8",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "min_prL_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 172,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW MIN",
        "label": "mmHg",
        "format": "{{msg.e[3].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "294657b4d94cac04",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "avg_prL_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 173,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW AVG",
        "label": "mmHg",
        "format": "{{msg.e[3].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "291a33eb3e74fc85",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "max_prL_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 180,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW MAX",
        "label": "mmHg",
        "format": "{{msg.e[3].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 620,
        "wires": []
    },
    {
        "id": "718b34a52ea74eb2",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "min_we_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 131,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "WEIGHT MIN",
        "label": "Kg",
        "format": "{{msg.e[4].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "2e1bf85414bcfee9",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "avg_we_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 181,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "WEIGHT AVG",
        "label": "Kg",
        "format": "{{msg.e[4].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 700,
        "wires": []
    },
    {
        "id": "600fcd97d046faec",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "max_we_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 188,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "WEIGHT MAX",
        "label": "Kg",
        "format": "{{msg.e[4].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 740,
        "wires": []
    },
    {
        "id": "b7bdaa3cd7581978",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "min_te_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 189,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "TEMPERATURE MIN",
        "label": "C",
        "format": "{{msg.e[5].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 780,
        "wires": []
    },
    {
        "id": "f22c25acb59807b2",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "avg_te_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 217,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "TEMPERATURE AVG",
        "label": "C",
        "format": "{{msg.e[5].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 820,
        "wires": []
    },
    {
        "id": "c41a9c6b0f11549e",
        "type": "ui_gauge",
        "z": "ecdbfc17d564f0f9",
        "name": "max_te_D2P1",
        "group": "88b6cfe55d6a80e1",
        "order": 224,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "TEMPERATURE MAX",
        "label": "C",
        "format": "{{msg.e[5].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "5c8beba4cea5a92b",
        "type": "function",
        "z": "ecdbfc17d564f0f9",
        "name": "function 3",
        "func": "\nreturn msg[\"measure\"]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 480,
        "wires": [
            [
                "02699b765a08bccb",
                "92526a4be3742949",
                "366cc83b733d78a6",
                "9c25a4b8ca67c35b",
                "aae75b8b9c7ddf42",
                "0526b464120ff28e",
                "2d237664a0a25fd1",
                "6335dad422469722",
                "eecee9ee35521ec6",
                "d8a3aeba135b1ef8",
                "294657b4d94cac04",
                "291a33eb3e74fc85",
                "718b34a52ea74eb2",
                "2e1bf85414bcfee9",
                "600fcd97d046faec",
                "b7bdaa3cd7581978",
                "f22c25acb59807b2",
                "c41a9c6b0f11549e"
            ]
        ]
    },
    {
        "id": "22b06b9778f30606",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "min_hr_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 3,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "HEARTRATE MIN",
        "label": "bpm",
        "format": "{{msg.e[0].v[0]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "a67e3e5976369380",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "avg_hr_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 4,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "HEARTRATE AVG",
        "label": "bpm",
        "format": "{{msg.e[0].v[1]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "a8150f1d819d37a5",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "max_hr_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 5,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "HEARTRATE MAX",
        "label": "bpm",
        "format": "{{msg.e[0].v[2]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "c55d7b8b6f4e3b25",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "min_prH_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 14,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH MIN",
        "label": "mmHg",
        "format": "{{msg.e[1].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "90",
        "seg2": "140",
        "className": "",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "7073358efe730171",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "avg_prH_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 15,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH AVG",
        "label": "mmHg",
        "format": "{{msg.e[1].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "90",
        "seg2": "140",
        "className": "",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "98bc4087b140428e",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "max_prH_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 16,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH MAX",
        "label": "mmHg",
        "format": "{{msg.e[1].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "90",
        "seg2": "140",
        "className": "",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "6d09cc96456029c7",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "min_gl_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 28,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "GLYCEMIA MIN",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[0]}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "180",
        "className": "",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "756a0de8fa3d10fa",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "avg_gl_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 29,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "GLYCEMIA AVG",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[1]}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "180",
        "className": "",
        "x": 580,
        "y": 460,
        "wires": []
    },
    {
        "id": "27aa791219a9d290",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "max_gl_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 30,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "GLYCEMIA MAX",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[2]}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "180",
        "className": "",
        "x": 580,
        "y": 500,
        "wires": []
    },
    {
        "id": "d06b971d3151f012",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "min_prL_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 20,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW MIN",
        "label": "mmHg",
        "format": "{{msg.e[3].v[0]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "90",
        "className": "",
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "b9558e139523cfec",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "avg_prL_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 21,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW AVG",
        "label": "mmHg",
        "format": "{{msg.e[3].v[1]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "90",
        "className": "",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "6868cb2af1f9e2fb",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "max_prL_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 22,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW MAX",
        "label": "mmHg",
        "format": "{{msg.e[3].v[2]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "90",
        "className": "",
        "x": 580,
        "y": 620,
        "wires": []
    },
    {
        "id": "0c74cb8aec1d6d87",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "min_we_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 39,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "WEIGHT MIN",
        "label": "Kg",
        "format": "{{msg.e[4].v[0]}}",
        "min": 0,
        "max": "140",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "813cb995df66f3b9",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "avg_we_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 40,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "WEIGHT AVG",
        "label": "Kg",
        "format": "{{msg.e[4].v[1]}}",
        "min": 0,
        "max": "140",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 700,
        "wires": []
    },
    {
        "id": "80b1e2ba12b437d4",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "max_we_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 41,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "WEIGHT MAX",
        "label": "Kg",
        "format": "{{msg.e[4].v[2]}}",
        "min": 0,
        "max": "140",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 740,
        "wires": []
    },
    {
        "id": "583d8fe3e0bdd3c6",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "min_te_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 50,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "TEMPERATURE MIN",
        "label": "C",
        "format": "{{msg.e[5].v[0]}}",
        "min": "30",
        "max": "50",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "37",
        "className": "",
        "x": 580,
        "y": 780,
        "wires": []
    },
    {
        "id": "0959040cf6218a64",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "avg_te_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 51,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "TEMPERATURE AVG",
        "label": "C",
        "format": "{{msg.e[5].v[1]}}",
        "min": "30",
        "max": "50",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "37",
        "className": "",
        "x": 580,
        "y": 820,
        "wires": []
    },
    {
        "id": "75ca12411f9beb1c",
        "type": "ui_gauge",
        "z": "bdbd63df8caf99d2",
        "name": "max_te_D1P2",
        "group": "b91583f93c09d6d7",
        "order": 52,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "TEMPERATURE MAX",
        "label": "C",
        "format": "{{msg.e[5].v[2]}}",
        "min": "30",
        "max": "50",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "37",
        "className": "",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "8a0098fefa8cf86e",
        "type": "function",
        "z": "bdbd63df8caf99d2",
        "name": "function 4",
        "func": "\nreturn msg[\"measure\"]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 460,
        "wires": [
            [
                "c55d7b8b6f4e3b25",
                "6d09cc96456029c7",
                "756a0de8fa3d10fa",
                "22b06b9778f30606",
                "a67e3e5976369380",
                "a8150f1d819d37a5",
                "7073358efe730171",
                "98bc4087b140428e",
                "27aa791219a9d290",
                "d06b971d3151f012",
                "b9558e139523cfec",
                "6868cb2af1f9e2fb",
                "0c74cb8aec1d6d87",
                "813cb995df66f3b9",
                "80b1e2ba12b437d4",
                "583d8fe3e0bdd3c6",
                "0959040cf6218a64",
                "75ca12411f9beb1c"
            ]
        ]
    },
    {
        "id": "4a17165f4f62a36b",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "min_hr_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 3,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "HEARTRATE MIN",
        "label": "bpm",
        "format": "{{msg.e[0].v[0]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "87db08ec627dde32",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "avg_hr_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 4,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "HEARTRATE AVG",
        "label": "bpm",
        "format": "{{msg.e[0].v[1]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "d940574ceb21f0f0",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "max_hr_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 5,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "HEARTRATE MAX",
        "label": "bpm",
        "format": "{{msg.e[0].v[2]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "203543607f29ac0b",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "min_prH_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 14,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH MIN",
        "label": "mmHg",
        "format": "{{msg.e[1].v[0]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "90",
        "seg2": "140",
        "className": "",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "ac28401b3d939867",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "avg_prH_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 15,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH AVG",
        "label": "mmHg",
        "format": "{{msg.e[1].v[1]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "90",
        "seg2": "140",
        "className": "",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "820485e344c29cae",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "max_prH_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 16,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE HIGH MAX",
        "label": "mmHg",
        "format": "{{msg.e[1].v[2]}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "90",
        "seg2": "140",
        "className": "",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "d01d813b6c6baec1",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "min_gl_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 28,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "GLYCEMIA MIN",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[0]}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "180",
        "className": "",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "0b6d6b1929aab8e5",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "avg_gl_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 29,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "GLYCEMIA AVG",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[1]}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "180",
        "className": "",
        "x": 580,
        "y": 460,
        "wires": []
    },
    {
        "id": "9acb00dfcd0906b3",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "max_gl_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 30,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "GLYCEMIA MAX",
        "label": "mg/dl",
        "format": "{{msg.e[2].v[2]}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "180",
        "className": "",
        "x": 580,
        "y": 500,
        "wires": []
    },
    {
        "id": "356a65a77510852c",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "min_prL_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 20,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW MIN",
        "label": "mmHg",
        "format": "{{msg.e[3].v[0]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "90",
        "className": "",
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "501a50184d2dc4fa",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "avg_prL_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 21,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW AVG",
        "label": "mmHg",
        "format": "{{msg.e[3].v[1]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "90",
        "className": "",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "1d42461f293345e8",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "max_prL_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 22,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PRESSURE LOW MAX",
        "label": "mmHg",
        "format": "{{msg.e[3].v[2]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "90",
        "className": "",
        "x": 580,
        "y": 620,
        "wires": []
    },
    {
        "id": "19c3bf42ce28f80a",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "min_we_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 39,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "WEIGHT MIN",
        "label": "Kg",
        "format": "{{msg.e[4].v[0]}}",
        "min": 0,
        "max": "140",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "4e099fd36a7b991e",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "avg_we_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 40,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "WEIGHT AVG",
        "label": "Kg",
        "format": "{{msg.e[4].v[1]}}",
        "min": 0,
        "max": "140",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 700,
        "wires": []
    },
    {
        "id": "495d27adcc47b749",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "max_we_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 41,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "WEIGHT MAX",
        "label": "Kg",
        "format": "{{msg.e[4].v[2]}}",
        "min": 0,
        "max": "140",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "100",
        "className": "",
        "x": 580,
        "y": 740,
        "wires": []
    },
    {
        "id": "4477ca58c35e10e5",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "min_te_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 50,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "TEMPERATURE MIN",
        "label": "C",
        "format": "{{msg.e[5].v[0]}}",
        "min": "30",
        "max": "50",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "37",
        "className": "",
        "x": 580,
        "y": 780,
        "wires": []
    },
    {
        "id": "7411fe6003a55a32",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "avg_te_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 51,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "TEMPERATURE AVG",
        "label": "C",
        "format": "{{msg.e[5].v[1]}}",
        "min": "30",
        "max": "50",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "37",
        "className": "",
        "x": 580,
        "y": 820,
        "wires": []
    },
    {
        "id": "8ae757a00b3e1f01",
        "type": "ui_gauge",
        "z": "8547bfc4137f9ac8",
        "name": "max_te_D1P1",
        "group": "b760305b1d9cfd99",
        "order": 52,
        "width": 3,
        "height": 6,
        "gtype": "gage",
        "title": "TEMPERATURE MAX",
        "label": "C",
        "format": "{{msg.e[5].v[2]}}",
        "min": "30",
        "max": "50",
        "colors": [
            "#ca3838",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "37",
        "className": "",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "3a7c0d06a803fc0f",
        "type": "function",
        "z": "8547bfc4137f9ac8",
        "name": "function 5",
        "func": "\nreturn msg[\"measure\"]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 540,
        "wires": [
            [
                "4a17165f4f62a36b",
                "87db08ec627dde32",
                "d940574ceb21f0f0",
                "203543607f29ac0b",
                "ac28401b3d939867",
                "820485e344c29cae",
                "d01d813b6c6baec1",
                "0b6d6b1929aab8e5",
                "9acb00dfcd0906b3",
                "356a65a77510852c",
                "501a50184d2dc4fa",
                "1d42461f293345e8",
                "19c3bf42ce28f80a",
                "495d27adcc47b749",
                "8ae757a00b3e1f01",
                "7411fe6003a55a32",
                "4477ca58c35e10e5",
                "4e099fd36a7b991e"
            ]
        ]
    },
    {
        "id": "0dde643950bd7af4",
        "type": "ui_ui_control",
        "z": "aa690620becf8e98",
        "name": "",
        "events": "connect",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "80ca150686d589ca"
            ]
        ]
    },
    {
        "id": "e1bf14ea4342d65b",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "b91583f93c09d6d7",
        "name": "graficoD1P2_heartrate",
        "order": 2,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/channels/1860793/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "2f5d6e33b70daa76",
        "type": "ui_button",
        "z": "aa690620becf8e98",
        "name": "Cubeddu Laura",
        "group": "d533cbd24b566569",
        "order": 1,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Cubeddu Laura",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"Doctor1_Control\",\"Doctor1_Cubeddu_Laura\"],\"hide\":[\"Doctor1_Codagnone_Giulia\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "0dde643950bd7af4"
            ]
        ]
    },
    {
        "id": "9834914702850b2e",
        "type": "ui_button",
        "z": "aa690620becf8e98",
        "name": "Codagnone Giulia",
        "group": "d533cbd24b566569",
        "order": 2,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Codagnone Giulia",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"Doctor1_Codagnone_Giulia\",\"Doctor1_Control\"],\"hide\":[\"Doctor1_Cubeddu_Laura\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "0dde643950bd7af4"
            ]
        ]
    },
    {
        "id": "80ca150686d589ca",
        "type": "debug",
        "z": "aa690620becf8e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 460,
        "wires": []
    },
    {
        "id": "9cdb806a31302db1",
        "type": "comment",
        "z": "aa690620becf8e98",
        "name": "Doctor1",
        "info": "Doctor1",
        "x": 130,
        "y": 320,
        "wires": []
    },
    {
        "id": "58a8fbad45b3af78",
        "type": "comment",
        "z": "aa690620becf8e98",
        "name": "Template doctor1",
        "info": "",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "34ed9ed18434fbe5",
        "type": "ui_ui_control",
        "z": "aa690620becf8e98",
        "name": "",
        "events": "connect",
        "x": 260,
        "y": 1200,
        "wires": [
            [
                "10a1a4ba612a78b7"
            ]
        ]
    },
    {
        "id": "0ef3fbf551e46b89",
        "type": "ui_button",
        "z": "aa690620becf8e98",
        "name": "",
        "group": "cd505154a09aae85",
        "order": 3,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Patient2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"Doctor2_Control\",\"Doctor2_Patient2\"],\"hide\":[\"Doctor2_Patient1\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 1300,
        "wires": [
            [
                "34ed9ed18434fbe5"
            ]
        ]
    },
    {
        "id": "10a1a4ba612a78b7",
        "type": "debug",
        "z": "aa690620becf8e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1200,
        "wires": []
    },
    {
        "id": "42929e1908ef8d36",
        "type": "comment",
        "z": "aa690620becf8e98",
        "name": "Doctor2",
        "info": "Doctor2",
        "x": 110,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b605f95d9727aac3",
        "type": "ui_button",
        "z": "aa690620becf8e98",
        "name": "",
        "group": "cd505154a09aae85",
        "order": 1,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Patient1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"Doctor2_Control\",\"Doctor2_Patient1\"],\"hide\":[\"Doctor2_Patient2\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 1120,
        "wires": [
            [
                "34ed9ed18434fbe5"
            ]
        ]
    },
    {
        "id": "6c7e1f20d27e89df",
        "type": "comment",
        "z": "aa690620becf8e98",
        "name": "Template doctor2! ",
        "info": "",
        "x": 750,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2ef53e4692135566",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "b91583f93c09d6d7",
        "name": "graficoD1P2_glycemia",
        "order": 27,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/channels/1860793/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a0f0f7cc55fb915d",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "b91583f93c09d6d7",
        "name": "graficoD1P2_pressure",
        "order": 13,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/apps/matlab_visualizations/477166\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "61e5f161f5343774",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "b91583f93c09d6d7",
        "name": "graficoD1P2_weight",
        "order": 38,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/channels/1860793/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "3e300c5ebbcbdaed",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "b91583f93c09d6d7",
        "name": "graficoD1P2_temperature",
        "order": 49,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/channels/1860793/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1050,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "5134394d3573e6d6",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "b760305b1d9cfd99",
        "name": "graficoD1P1_heartrate",
        "order": 2,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/channels/1721151/charts/1?bgcolor=%23ffffff&color=%23d62020&days=2&dynamic=true&median=daily&min=50&results=60&type=line\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "509ceb6eb59cf7dc",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "b760305b1d9cfd99",
        "name": "graficoD1P1_glycemia",
        "order": 27,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/channels/1721151/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&min=1&results=60&type=line\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d0cb2b21f526c73b",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "b760305b1d9cfd99",
        "name": "graficoD1P1_pressure",
        "order": 13,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/apps/matlab_visualizations/461315\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3f6d98edab62e20f",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "b760305b1d9cfd99",
        "name": "graficoD1P1_weight",
        "order": 38,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/channels/1721151/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&median=daily&results=60&type=line\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a0cf78eaa15158b6",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "b760305b1d9cfd99",
        "name": "graficoD1P1_temperature",
        "order": 49,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/channels/1721151/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 770,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4b5a753a8947a7a5",
        "type": "mqtt in",
        "z": "aa690620becf8e98",
        "name": "subscriber",
        "topic": "P4IoT/SmartHealth/statistics/#",
        "qos": "2",
        "datatype": "json",
        "broker": "6a088443ce4c1d61",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1880,
        "wires": [
            [
                "b026ea2832264cc5"
            ]
        ]
    },
    {
        "id": "199cbf190992c23f",
        "type": "switch",
        "z": "aa690620becf8e98",
        "name": "choose patient to plot data to",
        "property": "client",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 1880,
        "wires": [
            [
                "eae6020c2589e17c"
            ],
            [
                "8d348b115ad6a570"
            ]
        ],
        "inputLabels": [
            "in"
        ]
    },
    {
        "id": "1650fbe20f3a3ebf",
        "type": "comment",
        "z": "aa690620becf8e98",
        "name": "Patients info",
        "info": "",
        "x": 130,
        "y": 2040,
        "wires": []
    },
    {
        "id": "1370f623fceb0b25",
        "type": "GSheet",
        "z": "aa690620becf8e98",
        "creds": "8ee3e35698fe35b9",
        "method": "get",
        "action": "",
        "sheet": "1q0phfB1V3UsFlRdCfqv3f6asMYcmffcASsnPB9sOdPY",
        "cells": "B2:end",
        "flatten": false,
        "name": "final_module",
        "x": 370,
        "y": 1720,
        "wires": [
            [
                "9620178d310b55b8"
            ]
        ]
    },
    {
        "id": "4d8933cee7dfc73c",
        "type": "inject",
        "z": "aa690620becf8e98",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1720,
        "wires": [
            [
                "1370f623fceb0b25"
            ]
        ]
    },
    {
        "id": "f3115dd88aab6101",
        "type": "switch",
        "z": "aa690620becf8e98",
        "name": "",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "67",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 1720,
        "wires": [
            [
                "f96eacbe275ccfc8"
            ],
            [
                "053cc4a1a9511b7c"
            ]
        ]
    },
    {
        "id": "f96eacbe275ccfc8",
        "type": "ui_text",
        "z": "aa690620becf8e98",
        "group": "b760305b1d9cfd99",
        "order": 60,
        "width": 10,
        "height": 5,
        "name": "modulo_google_D1P1",
        "label": "<font color=\"red\"> <b>PATIENT'S SURVEY ANSWERS </b> </font>",
        "format": "nausea : {{msg.payload[1]}} <br> constipation : {{msg.payload[2]}} <br> stomach acidity : {{msg.payload[3]}} <br> urine leakage : {{msg.payload[4]}} <br> further symptoms (optional) : {{msg.payload[5]}}",
        "layout": "col-center",
        "className": "",
        "x": 980,
        "y": 1660,
        "wires": [],
        "info": ">  -  * # ## ### **`_[]()_`**"
    },
    {
        "id": "9620178d310b55b8",
        "type": "split",
        "z": "aa690620becf8e98",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 1720,
        "wires": [
            [
                "f3115dd88aab6101"
            ]
        ]
    },
    {
        "id": "053cc4a1a9511b7c",
        "type": "ui_text",
        "z": "aa690620becf8e98",
        "group": "b91583f93c09d6d7",
        "order": 60,
        "width": 10,
        "height": 5,
        "name": "modulo_google_D1P2",
        "label": "<font color=\"red\"> <b>PATIENT'S SURVEY ANSWERS </b> </font>",
        "format": "nausea : {{msg.payload[1]}} <br> constipation : {{msg.payload[2]}} <br> stomach acidity : {{msg.payload[3]}} <br> urine leakage : {{msg.payload[4]}} <br> further symptoms (optional) : {{msg.payload[5]}}",
        "layout": "col-center",
        "className": "",
        "x": 980,
        "y": 1760,
        "wires": [],
        "info": ">  -  * # ## ### **`_[]()_`**"
    },
    {
        "id": "07df6f61844d7101",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "ff5208b1059e9a51",
        "name": "graficoD2P2_heartrate",
        "order": 1,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1860793/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "f7bc9449291e0b5f",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "ff5208b1059e9a51",
        "name": "graficoD2P2_glycemia",
        "order": 26,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"  src=\"https://thingspeak.com/channels/1860793/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "1ebf8a75daf0bed2",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "ff5208b1059e9a51",
        "name": "graficoD2P2_pressure",
        "order": 12,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/apps/matlab_visualizations/477166\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "5c8bb58d89100586",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "ff5208b1059e9a51",
        "name": "graficoD2P2_weight",
        "order": 37,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"   src=\"https://thingspeak.com/channels/1860793/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "ded75e3ca93f5b94",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "ff5208b1059e9a51",
        "name": "graficoD2P2_temperature",
        "order": 48,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"   src=\"https://thingspeak.com/channels/1860793/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 990,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "52a8d2194388bdab",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "88b6cfe55d6a80e1",
        "name": "graficoD2P1_heartrate",
        "order": 1,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1721151/charts/1?hours=1&min=1&bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "a258b2dae82736b6",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "88b6cfe55d6a80e1",
        "name": "graficoD2P1_glycemia",
        "order": 26,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1721151/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "4a5a77117429f3b8",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "88b6cfe55d6a80e1",
        "name": "graficoD2P1_pressure",
        "order": 12,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/apps/matlab_visualizations/461315\"></iframe>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "c3c5112a88b616a3",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "88b6cfe55d6a80e1",
        "name": "graficoD2P1_weight",
        "order": 37,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1721151/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "ba41746d32ffe787",
        "type": "ui_template",
        "z": "aa690620becf8e98",
        "group": "88b6cfe55d6a80e1",
        "name": "graficoD2P1_temperature",
        "order": 48,
        "width": 10,
        "height": 6,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1721151/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "43f981dfc38a3dfb",
        "type": "ui_text",
        "z": "aa690620becf8e98",
        "group": "88b6cfe55d6a80e1",
        "order": 59,
        "width": 10,
        "height": 3,
        "name": "modulo_google_D2P1",
        "label": "<font color=\"red\"> <b>PATIENT'S SURVEY ANSWERS </b> </font>",
        "format": "nausea : {{msg.payload[1]}} <br> constipation : {{msg.payload[2]}} <br> stomach acidity : {{msg.payload[3]}} <br> urine leakage : {{msg.payload[4]}} <br> further symptoms (optional) : {{msg.payload[5]}}",
        "layout": "col-center",
        "className": "",
        "x": 160,
        "y": 1440,
        "wires": [],
        "info": ">  -  * # ## ### **`_[]()_`**"
    },
    {
        "id": "33baab32d7d941bf",
        "type": "ui_text",
        "z": "aa690620becf8e98",
        "group": "ff5208b1059e9a51",
        "order": 59,
        "width": 10,
        "height": 3,
        "name": "modulo_google_D2P2",
        "label": "<font color=\"red\"> <b>PATIENT'S SURVEY ANSWERS </b> </font>",
        "format": "nausea : {{msg.payload[1]}} <br> constipation : {{msg.payload[2]}} <br> stomach acidity : {{msg.payload[3]}} <br> urine leakage : {{msg.payload[4]}} <br> further symptoms (optional) : {{msg.payload[5]}}",
        "layout": "col-center",
        "className": "",
        "x": 160,
        "y": 1480,
        "wires": [],
        "info": ">  -  * # ## ### **`_[]()_`**"
    },
    {
        "id": "19b7c2479f3fbb87",
        "type": "mqtt in",
        "z": "aa690620becf8e98",
        "name": "subscriber",
        "topic": "P4IoT/SmartHealth/info/#",
        "qos": "2",
        "datatype": "json",
        "broker": "6a088443ce4c1d61",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 2120,
        "wires": [
            [
                "1a13a7e3fe603803"
            ]
        ]
    },
    {
        "id": "1a13a7e3fe603803",
        "type": "function",
        "z": "aa690620becf8e98",
        "name": "Patients info",
        "func": "var d = [\n    {\n        \"patientID\": msg.payload.patientID,\n        \"full_name\": msg.payload.full_name,\n        \"state\": msg.payload.state,\n        \"day_one\": msg.payload.day_one\n    }\n]\n\nmsg.payload = d;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2120,
        "wires": [
            [
                "d77cfa142557decb"
            ]
        ]
    },
    {
        "id": "74c762f4a2f2904c",
        "type": "ui_table",
        "z": "aa690620becf8e98",
        "group": "b760305b1d9cfd99",
        "name": "tavola",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "patientID",
                "title": "Channel Name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "full_name",
                "title": "Full Name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "state",
                "title": "Monitoring State",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "day_one",
                "title": "Pregnant Since",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 830,
        "y": 2020,
        "wires": []
    },
    {
        "id": "b026ea2832264cc5",
        "type": "function",
        "z": "aa690620becf8e98",
        "name": "Weekly statistics",
        "func": "var ret1 = msg[\"payload\"]\nlet ret2 = (msg[\"payload\"][\"bn\"]).split(\"/\")[3]\nvar ret2b = Number(ret2)\n\nvar dizionario = {}\n\ndizionario[\"client\"] = ret2b; \n\ndizionario[\"measure\"] = msg[\"payload\"]\n\nreturn dizionario",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1880,
        "wires": [
            [
                "199cbf190992c23f"
            ]
        ]
    },
    {
        "id": "eae6020c2589e17c",
        "type": "subflow:8547bfc4137f9ac8",
        "z": "aa690620becf8e98",
        "name": "",
        "x": 1160,
        "y": 1840,
        "wires": []
    },
    {
        "id": "8d348b115ad6a570",
        "type": "subflow:bdbd63df8caf99d2",
        "z": "aa690620becf8e98",
        "name": "",
        "x": 1160,
        "y": 1900,
        "wires": []
    },
    {
        "id": "992d920463cd3e94",
        "type": "subflow:ecdbfc17d564f0f9",
        "z": "aa690620becf8e98",
        "name": "",
        "x": 380,
        "y": 1440,
        "wires": []
    },
    {
        "id": "10efde4dc409835d",
        "type": "subflow:cc1840ab1afa1c14",
        "z": "aa690620becf8e98",
        "name": "",
        "x": 380,
        "y": 1480,
        "wires": []
    },
    {
        "id": "2daf6618230d1db6",
        "type": "ui_table",
        "z": "aa690620becf8e98",
        "group": "b91583f93c09d6d7",
        "name": "tavola",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "patientID",
                "title": "Channel Name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "full_name",
                "title": "Full Name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "state",
                "title": "Monitoring State",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "day_one",
                "title": "Pregnant Since",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 830,
        "y": 2160,
        "wires": []
    },
    {
        "id": "d77cfa142557decb",
        "type": "switch",
        "z": "aa690620becf8e98",
        "name": "",
        "property": "payload[0].patientID",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 2120,
        "wires": [
            [
                "74c762f4a2f2904c"
            ],
            [
                "2daf6618230d1db6"
            ]
        ]
    },
    {
        "id": "e2f4f3179d3567d0",
        "type": "comment",
        "z": "aa690620becf8e98",
        "name": "GSheet",
        "info": "",
        "x": 110,
        "y": 1660,
        "wires": []
    },
    {
        "id": "f38ea66baeb99286",
        "type": "comment",
        "z": "aa690620becf8e98",
        "name": "Weekly statistics",
        "info": "",
        "x": 140,
        "y": 1820,
        "wires": []
    }
]